@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import url('../css/menu/menu.css');
@import url('../css/section-header/section-header.css');
@import url('../css/metricas/metricas.css');
@import url('../css/vagas/vagas.css');
@import url('../css/vagas/talentos/talentos.css');
@import url('../css/vagas/vagas-abertas/vagas-abertas.css');

:root {
     
    --fonte-principal: 'Inter', sans-serif; 
    --vermelho: #8E2424;
    --cinza-azul: #667085;
    --cinza-preto: #101828;
    --branco: #ffffff;
    --cor-borda: #EAECF0;
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;    
    text-decoration: none;
}


body{
    font-family: var(--fonte-principal);
    width: 100%;
    background-color: var(--branco);

}
